*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-image:url("image2.jpg");
    background-size: cover;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    height:100vmin;
    width:100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
a{
    height:20vmin;
    width: 100vmin;
    text-decoration: none;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,1);
    font-size: 6vmin;
    font-style: times;
}

